/* Add this CSS to your stylesheet */
.carousel-button {
    position: relative;
    height: 4px; /* Line height */
    width: 50px; /* Line width */
    background-color: rgba(255, 255, 255, 1); /* Inactive line background */
    border-radius: 6px; /* Rounded edges */
}
.carousel-indicator {
    position: relative;
    height: 8px; /* Line height */
    width: 50px; /* Line width */
    /* Inactive line background */
    border-radius: 6px; /* Rounded edges */
    overflow: hidden;
}
